* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

#header img[src="Logo.png"] {
  padding: 0;
}

#header {
  background-color: #9900FF;
  position: fixed;
  width: 100%;
}

#nav {
  position: fixed;
  top: 5;
  right: 10;
  text-color: white;
  font-size: 14;
  word-spacing: 5px;
}

#feedback  {
  text-align: center;
  background-color: #DDDDDD;
}

#greetings {
  text-align: center;
}

#info {
  float: left;
  margin-left: 100px;
  padding: 15px;
}

input[type=text], input[type=email] ,textarea {
  width: 100%;
}

#forms  {
  float: right;
  margin-right: 100px;
  padding: 15px;
}

#button {
  background-color: #B380FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
