head  {
  text-align: center;
  background-color: #DDDDDD;
}

#greetings {
  text-align: center;
}

#info {
  float: left;
  margin-left: 30px;
}

#phone{
  display: flex;
  position: relative;
}

.icon::after  {
  content: "+603 5281 581";
  color: black;
}

#forms  {
  float: right;
  margin-right: 100px;
  text-align: left
}

#button {
  background-color: #b380ff
}
