body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* top navbar */
.topnav {
  background-color: #9900FF;
  overflow: hidden;
} /*add color to top bground */

.topnav a {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 15px 15px;
  word-wrap: normal;
  display: inline-block;
  border-left:white 2px solid;
} /* style links inside nav bar */

.topnav a:hover {
  color: #ADD8e6;
} /* change color when hover */

/* elements on left side */
.leftThings {
  width: 50%;
  text-align: center;
  float: left;
}

.leftThings h1 {
  display: inline-block;
  text-align: left;
  margin-top: 3%;
  margin-bottom: 5px;
  font-size: 60px;
}

.leftThings img {
  margin-bottom: 0;
  width: 55%;
  height: auto;
}

.leftThings p {
  margin-top: 5px;
  color: grey;
  font-style: italic;
  font-size: 13px;
  text-align: left;
  margin-left: 25%;
}

/* elements on right side */
.rightThings{
  float: right;
  width: 50%;
  text-align: center;
}

.searchbox {
  text-align: left;
  margin-top: 5%;
  margin-left: 30px;
}

.searchbox input{
  width: 75%;
  background-image: url('/images/magnifying-glass.png');
  background-repeat: no-repeat;
  background-position: 3px;
  padding-left: 23px;
  border-radius: 5px 5px 5px 5px;
}

.checkboxes{
  text-align: left;
  margin-top: 10px;
  margin-left: 35px;
}

.checkboxes input {
  margin-left: 50px;
}

.rightThings p {
  text-align: left;
  margin-top: -10px;
  margin-left: 15px;
}

mark {
  background-color: white;
}

.recommendations {
  width: 90%;
  height: 65%;
  border: 3px solid gray;
  margin: auto;
  margin-top: 5%;
  margin-left: 0px;
  margin-right: 50px;
  text-align: left;
}

.materialsRec {
  text-align: center;
}

.item {
  width: 35%;
  margin: 5%;
  display: inline-block;
  border: 2px solid black;

}


.description {
  margin-top: -30px;
 text-align: center;


}

.detail {
  width: 35%;
  margin: 5%;
  display: inline-block;
  text-align: left;
}
