head  {
  text-align: center;
}
body  {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  margin: 50px;
}
h1 {
  text-align: center;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
