* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

#header img[src="/images/Logo.png"] {
  padding: 0;
}
#header {
  background-color: #9900FF;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#nav {
  position: fixed;
  top: 5;
  right: 10;
  text-color: white;
  font-size: 14;
  word-spacing: 5px;
  z-index: 2;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  border-left: solid 1px #fff;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#header2 {
  text-align: center;
  background: #DDDDDD;
  padding: 20;
  position: relative;
  top: 28;
  z-index: 1;
}

table {
  padding-top: 10px;
  padding-bottom: 10%;
  font-size: 15;
  line-height: 1.8;
}

#list {
  padding-top: 150px; 
  padding-left: 20%;
}

img {
  padding: 12;
  float: left;
}
